body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  margin:  15% 5%;
  color: #FEF2BF;
}

#subtitle {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  height: 0;
  padding: 5%; /* 16:9 */
  position: relative;
}


.button {
  display: inline-block;
  margin: 10px;
  height: 300px;
  width: 300px;
  border: 10px solid black;
  border-radius: 20%;
}

.button-div {
  display: block;
}

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  margin: 200px auto;
  width: 400px;
  height: 200px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.hidden {
  display: none;
}
